@tailwind base;
@tailwind components;
@tailwind utilities;

@import './themes/custom.css';

.btn-primary {
    background-color: var(--btn-primary);
}

.btn-secondary {
    background-color: var(--btn-secondary);
}

.btn-tertiary {
    background-color: var(--btn-tertiary);
}

h1 {
    color: var(--heading-h1);
}

h2 {
    color: var(--heading-h2);
}

h3 {
    color: var(--heading-h3);
}

.container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}

.column {
    @apply w-full md:w-1/2 lg:w-1/3;
}

.gap {
    @apply space-x-4;
}

body {
    background-color: var(--body);
}

header {
    @apply w-full lg:max-w-4xl max-w-[335px];
}
